  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
  </head>
  <body>
      <h1>Welcome to 99 cats!</h1>
      <p>Hi,<%= @user.username %>,We hope you enjoy the site!</p>
  </body>
  </html>
    